<html>

<head>
    <title>MEMESUPREME.COM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toggleswitch.min.css">
    <link rel="stylesheet" href="css/autocomplete.min.css">
    <link rel="stylesheet" href="framework/fontawesome-free/css/all.css">
    <link rel="icon" href="imgs/favicon.png">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap-filestyle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>

<body>
    
    <%  if(typeof data.user === 'undefined'){%>
    <%- include navbar %>
    <%} else {%>
    <%- include loggedinnavbar %>
    <%- include uploader %>
    <%} %>
    
    <div class="container img-post">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            <strong>I love this game!</strong>
                        </h3>
                        <span class="badge badge-primary">Gaming</span>
                        <p>
                            <small>1,234 points · 56 comments</small>
                        </p>

                    </div>
                    <div class="card-body">
                        <div class="pb-2 mt-4 mb-2 ">
                            <a data-toggle="modal" data-target="#wfModal">
                                <img class="rounded picture" src="imgs/wf.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-success fa-2x fas fa-arrow-up"></button>
                        <button class="btn btn-outline-danger fa-2x fas fa-arrow-down"></button>
                        <button class="btn btn-outline-primary  fa-2x fab fa-facebook-f"></button>
                        <button class="btn btn-outline-info fa-2x fab fa-twitter "></button>
                        <button class="btn btn-outline-secondary  fa-2x fas fa-comment-alt"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class= "allposts">
        <% for(var i = 0; i < data.list.length; i++) { %>
        <div class="container img-post">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            <strong><%= data.list[i].title %></strong>
                        </h3>
                        <% for(var j = 0; j < data.list[i].tags.length; j++) {%>
                        <span class="badge badge-primary"><%= data.list[i].tags[j] %></span>
                        <% } %>
                        <p>
                            <small><%= data.list[i].datePosted %></small>
                        </p>

                    </div>
                    <div class="card-body">
                        <div class="pb-2 mt-4 mb-2 ">
                            <a data-toggle="modal" data-target="#wfModal">
                                 <img src='./imgs/upload/<%= data.list[i].image %>'/>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-success fa-2x fas fa-arrow-up"></button>
                        <button class="btn btn-outline-danger fa-2x fas fa-arrow-down"></button>
                        <button class="btn btn-outline-primary  fa-2x fab fa-facebook-f"></button>
                        <button class="btn btn-outline-info fa-2x fab fa-twitter "></button>
                        <button class="btn btn-outline-secondary  fa-2x fas fa-comment-alt"></button>

                    </div>
                </div>
            </div>
        </div>
        </div>
    <% } %></div>
    
    


    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <a href="#">See more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr class="rgba-white-light" style="margin: 0 15%;">
 
    <%- include footer %>

</body>

</html>